<!DOCTYPE html>
<html>
<head>
	<title>Chat Realtime with Firebase</title>
	<meta charset="utf-8">
	<!--Bootstrap css-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<!--Jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<!--firebase-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
	<!--css-->
	<link rel="stylesheet" type="text/css" href="/chat.css">
	<!--bootstrap javascript-->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1"/>
 </head>
<body ng-app="app">
<div class="container" ng-controller="chatCtrl" >
	<h1>Chat Realtime with Firebase</h1>
	<div class="panel panel-default">
		<!--<div class="panel-body">
			<div id="comments-container"></div>
		</div>-->
		<div class="panel-footer">
			<form role="form">
				<div class="form-group">
					<label>Name:</label> {{name}} <br/>
					<label>Enter your message</label>
	            	<input type="text" ng-model="chatMes" class="form-control"/>
	            </div>
				<button type="submit" ng-click="sendChat()" id="submit-btn" name="submit-btn" class="btn btn-success">Send</button>
				<button type="reset"  class="btn btn-danger">Clear</button>
				<div id="chatBox" class="Chatlist">
	                <h1>Chat box</h1>
	                <div ng-repeat="chatMessage in chatMessages | limitTo:-15">
	                    <span style="font-weight: bold">{{chatMessage.name}}</span>   : <span>{{chatMessage.message}}</span>
	                    [<span style="font-style: italic">{{hour}}</span> : <span style="font-style: italic;">{{minute}}</span> : <span style="font-style: italic;">{{second}}</span>]
	                </div>  
	            </div>
			</form>	
		</div>
	</div>
</div>
</body>
<script>
        var app = angular.module('app', ['firebase']);
        app.controller('chatCtrl', ['$scope', '$firebase', function($scope, $firebase) {
            var name = prompt("Enter your name: ", '');
            var previousChat = '';
            var hour=new Date().getHours();
            var minute=new Date().getMinutes();
            var second=new Date().getSeconds();
            $scope.hour=hour;
            $scope.minute=minute;
            $scope.second=second;
            $scope.name = name;
            $scope.chatMessage = "";
            var ref = new Firebase("https://thanhanchat.firebaseio.com/");
            ref.remove();
            var sync = $firebase(ref);
            $scope.chatMessages = sync.$asArray();
			
            $scope.sendChat = function () {
            	if($scope.chatMes == previousChat || $scope.chatMes.length == 0) return;
            	
                var chatMessage = { name: name, message: $scope.chatMes };
                $scope.chatMessages.$add(chatMessage);
                previousChat = $scope.chatMes;
                $scope.chatMes = "";
            }
          
            $scope.clear = function() {
                for (var i = 0; i < $scope.chatMessages.length; i++) {
                    $scope.chatMessages.$remove($scope.chatMessages[i]);
                }
            }
        }]);
    </script>
    <style type="text/css">
		 
		#comments-container {
		    border: 1px solid #d0d0d0;
		    height: 400px;
		    overflow-y: scroll;
		}
		 
		.comments-container {
		    padding: 10px;
		    margin:6px;
		    background: #f5f5f5;
		    font-size: 13px;
		    -moz-border-radius: 5px;
		    -webkit-border-radius: 5px;
		    border-radius: 5px;
		}
		 
		.comment-container .label {
		    margin-right: 20px;
		}
		 
		.comment-container:last-of-type {
		    border-bottom: none;
		}
 
    </style>
 </html>
